@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Rokkitt:200,400');

body {
	background: url("../images/crowdshot.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	font-family: 'Helvetica', sans-serif;
	font-size: 18px;
}
#nav {
	font-family: 'Nunito', sans-serif;
	list-style-type: none;
	margin: 0;
	padding: 0.3em 0.5em;
	text-align: justify;
	min-width: 300px;
}
#nav:after {
    content: '';
    display: inline-block;
    width: 100%;
}
#nav li {
	display: inline-block;
}
.menu {
	font-size: 1em;
}
#nav li a {
	color: #ffffff;
	text-decoration: none;
}
#brand {
	font-size: 1.3em;
	text-transform: uppercase;
}
h1 {
	font-family: 'Nunito', sans-serif;
	font-size: 3em;
	font-weight: 600;
	text-align: center;
	margin: .75em 0em 1em;
	font-variant: small-caps;
}
.info {
	font-family: 'Rokkitt', serif;
	font-weight: 400;
	line-height: 1.5em
}
p {
	padding: 0px 100px;
	font-weight: 100
}
#offerings {
	padding: 1.5em 1em 6.5em;
	text-align: center;
	list-style-type: none;
	font-weight: 100;
}
hr {
	width: 80%;
}
#contact {
	font-family: 'Rokkitt', serif;
	font-weight: 400;
	text-align: center;
	font-size: 1em;
}
a {
	color: #93FFFF;
}