@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Rokkitt:200,400');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: url("../images/crowdshot.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #ffffff;
	font-family: 'Helvetica', sans-serif;
	font-size: 18px;
}

nav {
	font-family: 'Nunito', sans-serif;
	list-style-type: none;
	margin: 0;
	padding: 0.3em 0.5em;
	text-align: justify;
	min-width: 300px;
}
#nav:after {
    content: '';
    display: inline-block;
    width: 100%;
}
nav li {
	display: inline-block;
	margin: 0 .25em;
	padding: .1em 0;
}

.menu {
	font-size: 1em;
}

#nav li a {
	color: #ffffff;
	text-decoration: none;
}

.menu:hover {
  	border-bottom: 1px solid white;
  	border-color: #93FFFF;
}

#brand {
	font-size: 1.3em;
	text-transform: uppercase;
}
h1, h2, h3 {
	font-family: 'Nunito', sans-serif;
	font-variant: small-caps;
}

h1 {
	font-size: 3em;
	font-weight: 600;
	text-align: center;
	margin: .5em 0;
}

h2 {
	font-weight: 600;
	text-align: center;
	margin: 1em 0;
}

section {  
    width: 80%;
    margin: 0 auto;
	font-family: 'Rokkitt', serif;
	font-weight: 400;
	line-height: 1.5em
}

.about {
	padding: 0 0 2em;
}

p {
	padding: 0 8em;
	font-weight: 100
}

#offerings {
	padding: 0 1em 1em;
	text-align: center;
	list-style-type: none;
	font-weight: 100;
}

.clearfix {
	width: 80%;
	margin: auto;
}

.clearfixwork {
	width: 70%;
	margin: auto;
}

.services {
	float:left;
	font-size: 1em;
	font-weight: 400;
	width: 50%;
	height: 5.5em;
	outline: 1px solid #222222;
	border-radius: 4px;
	text-align: center;
	line-height: 5.5em;
	color: black;
	background: white;
}

.clients {
	float:left;
	font-size: 1em;
	font-weight: 400;
	width: 50%;
	height: 5.5em;
	outline: 1px solid #222222;
	border-radius: 4px;
	text-align: center;
	line-height: 5.5em;
	color: black;
	background: white;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfixwork:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#whatwedo {
	padding: 0 0 1.75em;
}

#work {
	padding: 1.75em 0;
}

#contactform {
	padding: 0 0 1.5em;
}

#contactformtitle {
	text-align: center;
}

input[type=text], select, textarea {
	width: 18em;
	padding: .5em;
	border: 1px solid #ccc;
	margin: auto;
	border-radius: 4px;
	resize: vertical;
	font-size: 1em;
	font-family: 'Rokkitt', serif;
}
#name, #email, #subject, #submit {
	display: block;
	margin: .5em auto;
}
input[type=submit] {
	background-color: #93FFFF;
	border: none;
	border-radius: 4px;
	width: 12em;
	padding: .5em;
	margin: auto;
	font-size: 1em;
	font-family: 'Nunito', sans-serif;
	font-variant: small-caps;
	font-weight: 700;
} 

hr {
	width: 5%;
	margin: 0 auto;
}

footer {
	font-family: 'Rokkitt', serif;
	font-weight: 400;
	text-align: center;
	font-size: 1em;
	padding: 1em;
}
a {
	color: #93FFFF;
}

@media only screen and (max-width: 1095px) {
	p {
		padding: 0 2em;
	}
}

@media only screen and (max-width: 1060px) {
	.services {
		float: none;
		margin: auto;
		width: 75%;
	}
}

@media only screen and (max-width: 765px) {
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 2.5em;
	}
	nav li {
		padding: .5em;
		margin: 0;
	}
	#nav li:hover {
  		border-bottom: none;
  		color: inherit;
}
@media only screen and (max-width: 765px) {
	.clearfixwork {
		width: 90%
	}
}

@media only screen and (max-width: 632px) {
	.services {
		width: 100%;
	}
}

@media only screen and (max-width: 481px) {
	section {
		width: 100%;
	}
	.clearfix {
		width: 90%;
	}
	.clients {
		float: none;
		margin: auto;
		width: 60%;
	}
}
